<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RockRiverMMS" connectionString="Data Source=(localDb)\v11.0; Initial Catalog=RRMMSNew; Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RRMMS" connectionString="Data Source=(LocalDb)\MSSQLLocalDB; Initial Catalog=RRMMSNew; Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <!--Local-->
    <!--<add name="RRMMS" connectionString="Data Source=172.10.1.9; Initial Catalog=RRMMS; User ID=test; Password=test" providerName="System.Data.SqlClient" />-->
    <!--Public server DEVELOPER-->
    <!--<add name="RRMMS" connectionString="Data Source=108.168.203.227,7007; Initial Catalog=RRMMSDev; User ID=RRMMSDev; Password=RRMMSDev"
                                   providerName="System.Data.SqlClient" />-->
    <!--<add name="SECAdmin" connectionString="Data Source=PROGRAMMER\SQLEXPRESS; Initial Catalog=SECAdmin; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="SECAdmin" connectionString="Data Source=64.71.142.181; Initial Catalog=SECAdmin; User ID=SECAdmin; Password=SECUser@123#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>